<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template_general"
>
<!--Au-dessous associé template_general avec patients-->
<head>
    <meta charset="UTF-8">
    <title>Users-Roles</title>
</head>
<body>
<div layout:fragment="content_general">
    <div class="container mt-3">
        <div class="card">
            <div class="card-header text-center"><h3>L'Association des AppRôles à AppUsers</h3></div>
            <div class="card-body">
                <form method="get" th:action="@{/manager/users-roles}">
                    <label>Key word</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary">Chercher</button>

                </form>
                <table class="table">
                    <!-- Faut rajouter thead pour séparer tbody de thead, important pour Bootstrap 5 -->
                    <thead>
                    <tr>
                        <th>AppUser UserID</th>
                        <th>AppSuer UserName</th>
                        <th>AppRole RoleId</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pageUser, status:${pageUsers}">
                        <td th:text="${pageUser.appUserId}"></td>
                        <td th:text="${pageUser.username}"></td>
                        <td th:text="${pageUser.roles}"></td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page, status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                           th:text="${status.index}"
                           th:href="@{/manager/users-roles(page=${status.index}, keyword=${keyword})}">
                        </a>
                    </li>
                </ul>
                <div class="mt-3 text-center">
                    <a class="btn btn-primary" th:href="@{/}">Back to Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>