<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template_general"
>
<!--Au-dessous associé template_general avec patients-->
<head>
    <meta charset="UTF-8">
    <title>Edit AppRole</title>
</head>
<body>
<div layout:fragment="content_general">
    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{/manager/addRole(page=${page}, keyword=${keyword})}">
            <div class="mt-5">
                <label>AppRoleId</label>
                <label th:text="${appRole.appRoleId}"></label>
                <input class="form-control" type="hidden" name="appRoleId" th:value="${appRole.appRoleId}">
            </div>
            <div class="mt-2">
                <label for="roleName">AppRole RoleName</label>
                <input id="roleName" class="form-control" type="text" name="roleName" th:value="${appRole.roleName}">
                <span class="text-danger" th:errors="${appRole.roleName}"></span>
            </div>
            <div class="mt-5 mb-3">
                <label for="description">Description</label>
                <input id="description" class="form-control" type="text" name="description" th:value="${appRole.description}">
                <span class="text-danger" th:errors="${appRole.description}"></span>
            </div>
            <button type="submit" class="btn btn-primary">Press the Button to confirm</button>
        </form>
    </div>

</div>
</body>
</html>