<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template_general"
>
<!--Au-dessous associé template1 avec patients-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content_general">
    <!--Renvoyé cette page pour les users non autoriser-->
    <div class="container" >
        <h2 class="text-danger">Vous n'êtes pas autorisé à accéder à cette ressource !!! </h2>
    </div>
</div>
</body>
</html>