<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.js"></script>
</head>
<!--On a créé une page template_general-->
<body>
<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">List AppUsers-AppRoles</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/manager/appUsers}">List AppUsers</a></li>
                    <li><a class="dropdown-item" th:href="@{/manager/appRoles}">List AppRoles</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Gestion Manager</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/manager/formAppUsers}">Add New App User</a></li>
                    <li><a class="dropdown-item" th:href="@{/manager/formAddRole}">Add New App Role</a></li>
                    <li><a class="dropdown-item" th:href="@{/manager/formAddRoleToAppUser}">Add A Role To App User</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Patients</a>
                <ul class="dropdown-menu">
                    <!--affichage uniquement pour les admins-->
<!--
     Masquer le "Nouveau Patient"               <li sec:authorize="hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/admin/formPatients}">Nouveau
-->
                    <!-- Afficher "Nouveau Patient, mais il est autorisé uniquement par Admin -->
                    <li><a class="dropdown-item" th:href="@{/admin/formPatients}">Nouveau
                        Patient</a></li>
                    <li><a class="dropdown-item" th:href="@{/user/index}">Chercher Patients</a></li>
                    <li><a class="dropdown-item" th:href="@{/user/medecins}">Médecin</a></li>
                </ul>
            </li>
        </ul>

        <ul class="navbar-nav">
            <!--Affiché à droite, Authentification/logout/consulter le compte etc-->
            <!--ce menu (logout) s'affiche quand un user est authentifié-->
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <!--afficher le nom d'user-->
                    <span sec:authentication="name"></span>
                </a>
                <ul class="dropdown-menu">
                    <!--User log out, fourni par spring security-->
                    <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                </ul>
            </li>
            <!--affiche login quand un user n'est pas authentifié-->
            <li class="nav-item">
                <a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
            </li>
        </ul>
    </div>
</nav>
<!--Mettre le contenu dans cette section, dans ce cas, patients.html-->
<section layout:fragment="content_general"></section>

<!-- Black background with white text -->
<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">...</nav>-->

<!-- Blue background with white text -->
<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">...</nav>-->

</body>
</html>